      <h2>Official Committee of Code Camp 2012 in Houston</h2>
      <ul class="comm-list">
        <li>
          <img src="/assets/committee/ben.jpg">
          <div class="details">
            <h3>Ben Scheirman - Lead Organizer</h3>
            <p>
              I'm the Director of Development at
              <a href="http://chaione.com/">ChaiONE</a>
              in Houston, TX.  I write software with my bare hands.
            </p>
            <p>
              Blog:
              <a href="http://flux88.com/">flux88.com</a>
            </p>
            <p>
              Twitter:
              <a href="http://twitter.com/subdigital">@subdigital</a>
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/committee/peterseale.jpg">
          <div class="details">
            <h3>Peter Seale - Vice Chancellor</h3>
            <p>
              I like to break the build and apologize for TFS.
            </p>
            <p>
              Website:
              <a href="http://www.pseale.com/blog">www.pseale.com/blog</a>
            </p>
            <p>
              Twitter:
              <a href="http://twitter.com/pseale">@pseale</a>
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/committee/jared.jpg">
          <div class="details">
            <h3>Jared Lobberecht - Website</h3>
            <p>
              I can't wait until I can buy diet mountain dew with bitcoins.
            </p>
            <p>
              Website:
              <a href="http://blog.lobberecht.com">blog.lobberecht.com</a>
            </p>
            <p>
              Twitter:
              <a href="http://twitter.com/jared314">@jared314</a>
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/committee/no-photo.jpg">
          <div class="details">
            <h3>Jason Awbrey - Captain Cash</h3>
            <p>
              I'm a board member of the North Houston .NET User Group.  I also
              like to count one dollar bills.
            </p>
          </div>
        </li>
        <li>
          <img src="assets/committee/brandi.jpg">
          <div class="details">
            <h3>Brandi - Website Designer</h3>
            <p>
              While I can be credited for designing and doing front-end coding for the Code Camp site, I must
              admit that I wasted too much of my life reading comic books rather than learning about big shot development.
            </p>
            <p>
              Website:
              <a href="http://www.brandius.net">www.brandius.net</a>
            </p>
            <p>
              Twitter:
              <a href="http://twitter.com/brandius">@brandius</a>
            </p>
          </div>
        </li>
      </ul>