.content-left
  %h2.titles It's Time to Go Camping
  %p.tx-bg
    It's time!  Houston's first-ever Code Camp is happening on August 20th, 2011.  Mark your calendar!
    This conference is being held to allow developers to come and share their experiences and to learn
    from each other. The Code Camp is about challenging the status-quo, continually looking for ways to better
    our craft, and to collaborate to create a community of developers. This conference is FREE, though
    registration is limited,
    %span{:style => "text-decoration: line-through"}
      so register today!
  %h3.titles Latest News
  %p
    %strong Aug 18th, 2011 -
    Putting together a happy hour immediately following the event.  Cross your fingers!
  %p
    %strong Aug 5th, 2011 - 
    The preliminary schedule is online, so go check that out.
    We have an impressive list of speakers &amp; topics!
  %p
    %strong July 14th, 2011 - 
    The conference is now sold out! A waiting list is active, so if anyone cancels I'll start releasing slots 
    from the waiting list.  Also, call for speakers will end on Tuesday, July 19th, so if you have any last minute
    sessions to submit, get them in now!
  %p
    %strong June 17th, 2011 -
    Registration is now open!  Space is limited, so make sure and reserve your spot today!
  %p
    %strong May 20th, 2011 -
    Speaker registration is now open. Here's how it is going to work.  Submit a topic or two,
    give it a short abstract describing what you'll cover and the community will vote for what they want to see!
    Speakers will receive:
    %ul
      %li Adoration of the local developer community
      %li Free hugs from the organizers
      %li Feeling of helping their fellow developers
  /%a.btn-schedule{:href => "/schedule"} View the Official SCHEDULE
  / %a.btn-schedule{:href => "http://houstoncodecamp.uservoice.com/"} CALL FOR SPEAKERS!
/ .content-left
.content-right
  %a.btn-speakers{:href => "/schedule"} See the schedule!
  .clear
  %h2 Platinum Sponsor

  %p
    %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
      %img{:src=>'http://www.jetbrains.com/img/logos/logo_jetbrains.gif', :alt=>"JetBrains", :width => "300"}

  %p
    We are thrilled to have 
    %strong JetBrains
    as our platinum sponsor!  Please head over to 
    %a{:href=>"http://jetbrains.com", :target=>"_blank"} http://jetbrains.com 
    and check out their awesome products.
.clear

.sponsors-panel{:style=>"overflow:hidden"}
  %h4.titles-full Houston Code Camp 2011 Sponsors
  .column.left
    %h5 Platinum
    %ul
      %li
        %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
          %img{:src => "http://www.jetbrains.com/img/logos/logo_jetbrains.gif", :alt=>"JetBrains", :width=>"200"}
  / .column
  .column.left
    %h5 Gold
    %ul
      %li
        %a{:href=>"http://www.microsoft.com", :target=>"_blank"}
          %img{:src => "/assets/sponsor.jpg", :alt => "Microsoft"}/
      %li
        %a{:href=>"http://www.headspring.com", :target=>"_blank"}
          %img{:src => "/assets/headspring.jpg", :alt=>"Headspring"}/
      %li
        %a{:href=>"http://componentone.com", :target=>"_blank"}
          %img{:src => "/assets/componentone.jpg", :alt => "ComponentOne"}
  / .column
  .column.left
    %h5 Silver
    %ul
      %li
        %a{:href=>"http://www.telerik.com", :target=>"_blank"}
          %img{:src => "./assets/telerik.png", :alt => "Telerik"}/
      %li
        %a{:href=>"http://www.tekpub.com", :target=>"_blank"}
          %img{:src => "./assets/tekpub.jpeg", :alt => "Tekpub"}/
      %li
        %a{:href=>"http://www.pluralsight.com", :target=>"_blank"}
          %img{:src => "./assets/pluralsight.png", :alt => "Pluralsight"}/
      %li
        %a{:href=>"http://snapstream.com", :target=>"_blank"}
          %img{:src=>"/assets/snapstream.png", :alt => "SnapStream TV Search"}
  / .column
  .column.right.gray-box
    %h6 Become a Sponsor
    %p
      %a{:href => "contact", :style=>"display:block"} Events like CodeCamp 2011 rely on generous sponsors to function. If you'd like to be part of Houston Code Camp, please get in touch with us!
  / .gray-box
.clear
%h4.titles-full Special Thanks To
.column.left
  %ul
    %li
      %a{:href=>"http://github.com", :target=>"_blank"} 
        %img{:src => "/assets/github.png", :alt=>"Github"}
.column.left
  %ul
    %li
      %a{:href => "http://pragprog.com", :target => "_blank"}
        %img{:src => "/assets/pragprog.png", :alt => "The Pragmatic Bookshelf"}
.column.left
  %ul
    %li
      %a{:href => "http://codeschool.com", :target => "_blank"}
        %img{:src => "/assets/code_school.png", :alt => "Code School"}

.column.left
  %ul
    %li
      %a{:href=>"http://oreilly.com", :target=>"_blank"}
        %img{:src=>"/assets/oreilly.png", :alt => "O'Reilly"}
.column.left
  %ul
    %li
      %a{:href=>"http://manning.com", :target=>"_blank"}
        %img{:src=>"/assets/manning.png", :alt => "Manning Publications"}
.column.left
  %ul
    %li
      %a{:href=>"http://logicnp.com", :target=>"_blank"}
        %img{:src=>"/assets/logicnp.jpeg", :alt => "Logic NP Software"}

.column.left
  %ul
