      <div class="content-left">
        <h2 class="titles">It's Time to Go Camping</h2>
        <p class="tx-bg">
          Houston's second annual Code Camp is happening August 25th, 2012.
          This conference is being held to allow developers to come and share their experiences and to learn
          from each other. The Code Camp is about challenging the status-quo, continually looking for ways to better
          our craft, and to collaborate to create a community of developers. This conference is FREE, though
          registration is limited,
          <span style="text-decoration: line-through">
            so register today!
          </span>
        </p>
        <h3 class="titles">Latest News</h3>
        <p>
          <strong>Mar 8th, 2012 -</strong>
          Planning for the 2012 Houston Code Camp has begun. Check back here for the latest news.
        </p>
        <p>
          <strong>July 10th, 2012 -</strong>
          The date as been nailed down to Saturday August 25th, 2012. Mark your calendars!
        </p>
        <!-- %a.btn-schedule{:href => "/schedule"} View the Official SCHEDULE -->
        <!-- %a.btn-schedule{:href => "http://houstoncodecamp.uservoice.com/"} CALL FOR SPEAKERS! -->
      </div>
      <!-- .content-left -->
      <div class="content-right">
        <a class="btn-speakers" href="/schedule">See the schedule!</a>
        <div class="clear"></div>
        <h2>Platinum Sponsor</h2>
<%#        <p>
          <a href="http://www.jetbrains.com" target="_blank">
            <img alt="JetBrains" src="http://www.jetbrains.com/img/logos/logo_jetbrains.gif" width="300">
          </a>
        </p>
        <p>
          We are thrilled to have
          <strong>JetBrains</strong>
          as our platinum sponsor!  Please head over to
          <a href="http://jetbrains.com" target="_blank">http://jetbrains.com</a>
          and check out their awesome products.
        </p> %>
      </div>
      <div class="clear"></div>
      <div class="sponsors-panel" style="overflow:hidden">
        <h4 class="titles-full">Houston Code Camp 2012 Sponsors</h4>
        <div class="column left">
          <h5>Platinum</h5>
          <ul>
            <li>
<%#              <a href="http://www.jetbrains.com" target="_blank">
                <img alt="JetBrains" src="http://www.jetbrains.com/img/logos/logo_jetbrains.gif" width="200">
              </a> %>
            </li>
          </ul>
        </div>
        <!-- .column -->
        <div class="column left">
          <h5>Gold</h5>
          <ul>
<% @sponsors.find_all{|item| item.level == :gold }.each do |item| %>
            <li><%=link_to image_tag(item.image_path, :alt=>item.name), item.url, :target => '_blank' %></li>
<% end %>
          </ul>
        </div>
        <!-- .column -->
        <div class="column left">
          <h5>Silver</h5>
          <ul>
<% @sponsors.find_all{|item| item.level == :silver }.each do |item| %>
            <li><%=link_to image_tag(item.image_path, :alt=>item.name), item.url, :target => '_blank' %></li>
<% end %>
          </ul>
        </div>
        <!-- .column -->
        <div class="column right gray-box">
          <h6>Become a Sponsor</h6>
          <p>
            <a href="contact" style="display:block">Events like Code Camp 2012 rely on generous sponsors to function. If you'd like to be part of Houston Code Camp, please get in touch with us!</a>
          </p>
        </div>
        <!-- .gray-box -->
      </div>
      <div class="clear"></div>
      <h4 class="titles-full">Special Thanks To</h4>
<% @sponsors.find_all{|item| item.level == :special }.each do |item| %>
  <div class="column left"><ul><li>
      <%=link_to image_tag(item.image_path, :alt=>item.name), item.url, :target => '_blank' %>
  </li></ul></div>
<% end %>
