      <div class="content-left">
        <h2 class="titles">It's Time to Go Camping</h2>
        <p class="tx-bg">
          It's time!  Houston's first-ever Code Camp is happening on August 20th, 2011.  Mark your calendar!
          This conference is being held to allow developers to come and share their experiences and to learn
          from each other. The Code Camp is about challenging the status-quo, continually looking for ways to better
          our craft, and to collaborate to create a community of developers. This conference is FREE, though
          registration is limited,
          <span style="text-decoration: line-through">
            so register today!
          </span>
        </p>
        <h3 class="titles">Latest News</h3>
        <p>
          <strong>Aug 19th, 2011 -</strong>
          ChaiONE is sponsoring a happy hour after the event! See you all tomorrow!
        </p>
        <p>
          <strong>Aug 18th, 2011 -</strong>
          Putting together a happy hour immediately following the event.  Cross your fingers!
        </p>
        <p>
          <strong>Aug 5th, 2011 -</strong>
          The preliminary schedule is online, so go check that out.
          We have an impressive list of speakers &amp; topics!
        </p>
        <!-- %a.btn-schedule{:href => "/schedule"} View the Official SCHEDULE -->
        <!-- %a.btn-schedule{:href => "http://houstoncodecamp.uservoice.com/"} CALL FOR SPEAKERS! -->
      </div>
      <!-- .content-left -->
      <div class="content-right">
        <a class="btn-speakers" href="/schedule">See the schedule!</a>
        <div class="clear"></div>
        <h2>Platinum Sponsor</h2>
        <p>
          <a href="http://www.jetbrains.com" target="_blank">
            <img alt="JetBrains" src="http://www.jetbrains.com/img/logos/logo_jetbrains.gif" width="300">
          </a>
        </p>
        <p>
          We are thrilled to have
          <strong>JetBrains</strong>
          as our platinum sponsor!  Please head over to
          <a href="http://jetbrains.com" target="_blank">http://jetbrains.com</a>
          and check out their awesome products.
        </p>
      </div>
      <div class="clear"></div>
      <div class="sponsors-panel" style="overflow:hidden">
        <h4 class="titles-full">Houston Code Camp 2011 Sponsors</h4>
        <div class="column left">
          <h5>Platinum</h5>
          <ul>
            <li>
              <a href="http://www.jetbrains.com" target="_blank">
                <img alt="JetBrains" src="http://www.jetbrains.com/img/logos/logo_jetbrains.gif" width="200">
              </a>
            </li>
          </ul>
        </div>
        <!-- .column -->
        <div class="column left">
          <h5>Gold</h5>
          <ul>
            <li>
              <a href="http://www.microsoft.com" target="_blank">
                <img alt="Microsoft" src="/assets/sponsor.jpg">
              </a>
            </li>
            <li>
              <a href="http://www.headspring.com" target="_blank">
                <img alt="Headspring" src="/assets/headspring.jpg">
              </a>
            </li>
            <li>
              <a href="http://componentone.com" target="_blank">
                <img alt="ComponentOne" src="/assets/componentone.jpg">
              </a>
            </li>
          </ul>
        </div>
        <!-- .column -->
        <div class="column left">
          <h5>Silver</h5>
          <ul>
            <li>
              <a href="http://www.telerik.com" target="_blank">
                <img alt="Telerik" src="./assets/telerik.png">
              </a>
            </li>
            <li>
              <a href="http://www.tekpub.com" target="_blank">
                <img alt="Tekpub" src="./assets/tekpub.jpeg">
              </a>
            </li>
            <li>
              <a href="http://www.pluralsight.com" target="_blank">
                <img alt="Pluralsight" src="./assets/pluralsight.png">
              </a>
            </li>
            <li>
              <a href="http://snapstream.com" target="_blank">
                <img alt="SnapStream TV Search" src="/assets/snapstream.png">
              </a>
            </li>
          </ul>
        </div>
        <!-- .column -->
        <div class="column right gray-box">
          <h6>Become a Sponsor</h6>
          <p>
            <a href="contact" style="display:block">Events like CodeCamp 2011 rely on generous sponsors to function. If you'd like to be part of Houston Code Camp, please get in touch with us!</a>
          </p>
        </div>
        <!-- .gray-box -->
      </div>
      <div class="clear"></div>
      <h4 class="titles-full">Special Thanks To</h4>
      <div class="column left">
        <ul>
          <li>
            <a href="http://github.com" target="_blank">
              <img alt="Github" src="/assets/github.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="column left">
        <ul>
          <li>
            <a href="http://pragprog.com" target="_blank">
              <img alt="The Pragmatic Bookshelf" src="/assets/pragprog.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="column left">
        <ul>
          <li>
            <a href="http://codeschool.com" target="_blank">
              <img alt="Code School" src="/assets/code_school.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="column left">
        <ul>
          <li>
            <a href="http://oreilly.com" target="_blank">
              <img alt="O'Reilly" src="/assets/oreilly.png">
            </a>
          </li>
        </ul>
      </div>
      <br style="clear: left">
      <div class="column left">
        <ul>
          <li>
            <a href="http://manning.com" target="_blank">
              <img alt="Manning Publications" src="/assets/manning.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="column left">
        <ul>
          <li>
            <a href="http://chaione.com" target="_blank">
              <img alt="ChaiONE" src="/assets/chaione.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="column left">
        <ul>
          <li>
            <a href="http://logicnp.com" target="_blank">
              <img alt="Logic NP Software" src="/assets/logicnp.jpeg">
            </a>
          </li>
        </ul>
      </div>
      <div class="column left">
        <ul></ul>
      </div>
