<div class="wrapper content-full2">
        <h2>Getting to Code Camp Houston</h2>
        <div class="content-left">
          <h3>Address:</h3>
          <p>
            One Briar Lake Plaza
            <br>
            2000 W. Sam Houston Pkwy. S. #350
            <br>
            Houston, TX 77042
            <br>
            <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=103219322185583259073.00047da46b658d3eb845a&amp;ll=29.746447,-95.559468&amp;spn=0.00667,0.009645&amp;z=17">(View on Google Maps)</a>
          </p>
          <br>
          <h3>Parking:</h3>
          <p>Parking for the event is free for all attendees. Parking will be in an on-site covered garage. We ask guests to NOT park in any spots that are marked as reserved.</p>
          <h3>Hotels:</h3>
          <p>
            Please see the
            <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=103219322185583259073.00047da46b658d3eb845a&amp;ll=29.746447,-95.559468&amp;spn=0.00667,0.009645&amp;z=17" target="_blank">map</a>
            for nearby hotels.
          </p>
        </div>
        <div class="content-right">
          <iframe frameborder="0" height="440" marginheight="0" marginwidth="0" scrolling="no" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=103219322185583259073.00047da46b658d3eb845a&amp;ll=29.746447,-95.559468&amp;spn=0.00667,0.009645&amp;z=17&amp;amp;output=embed" width="450"></iframe>
        </div>
      </div>