:javascript 
  window._token = '#{form_authenticity_token}'
%h2 Official Schedule

- @rooms = %W{Apollo Challenger Discovery Atlantis Saturn Gemini}

%table.schedule
  %tr
    %th 
    - @rooms.each do |room|
      %th=room
  %tr.sessions-row
    %td 9:15&nbsp;-&nbsp;10:30
    
    - @rooms.each do |room|
      =render_slot room, "915"
  
  %tr.sessions-row
    %td 10:45&nbsp;-&nbsp;12:00
    - @rooms.each do |room|
      =render_slot room, "1045"
  
  %tr.unusual
    %td{:colspan => 7}
      LUNCH
  %tr.sessions-row
    %td 1:15&nbsp;-&nbsp;2:30
    - @rooms.each do |room|
      =render_slot room, "115"
      
  %tr.sessions-row
    %td 2:45&nbsp;-&nbsp;4:00
    - @rooms.each do |room|
      =render_slot room, "245"
      
  %tr.sessions-row
    %td 4:15&nbsp;-&nbsp;5:30
    - @rooms.each do |room|
      =render_slot room, "415"
      
  %tr.unusual
    %td{:colspan => 7}
      MINGLING &amp; NETWORKING

- if logged_in?
  %div.unslotted-sessions
    - @unassigned_sessions.each do |s|
      = render_session_block s
    %h3 (unassigned sessions)
%div{:style => "clear:both;"}
  %h3
    = link_to "Click here to see the full session listing", sessions_path