
<h2>Sponsors</h2>
<div class="right gray-box" style="width: 300px; margin: 20px">
  <h6>Thanks to our generous sponsors</h6>
  <p>
    We wouldn't be able to make this event free for attendees without
    the generous help from our sponsors.  Please tell them thanks, and make
    sure you tell them that we sent you.
  </p>
  <h6>Become a sponsor!</h6>
  <p>
    If you'd like to support this year's Houston Code Camp 2012, please
    <a href="/contact">contact us.</a>
  </p>
</div>
<div class="sponsor-listing">
  <div class="content-left">
    <h3 class="titles">Platinum Sponsor</h3>
<%#    <p>
      <a href="http://www.jetbrains.com", target="_blank">
        <img src='http://www.jetbrains.com/img/logos/logo_jetbrains.gif', alt="JetBrains", width = "300" />
      </a>
    </p>
    <p>
      We are thrilled to have
      <strong>JetBrains</strong>
      as our platinum sponsor!  Please head over to
      <a href="http://jetbrains.com", target="_blank">http://jetbrains.com</a>
      and check out their awesome products.
    </p> %>
    <p>
    </p>
  </div>
  <div class="clear">
  </div>
  <h3 class="titles-full">Gold Sponsors</h3>
<% @sponsors.find_all{|item| item.level == :gold }.each do |item| %>
  <div class="column left sponsor">
    <p>
      <%=link_to image_tag(item.image_path, :alt=>item.name), item.url, :target => '_blank' %>
    </p>
  </div>
<% end %>
  <p>
  </p>
  <div class="clear"></div>
  <h3 class="titles-full">Silver Sponsors</h3>
<% @sponsors.find_all{|item| item.level == :silver }.each do |item| %>
  <div class="column left sponsor">
    <p>
      <%=link_to image_tag(item.image_path, :alt=>item.name), item.url, :target => '_blank' %>
    </p>
  </div>
<% end %>
  <p>
  </p>
  <div class="clear"></div>
  <h3 class="titles-full">Special Thanks</h3>
<% @sponsors.find_all{|item| item.level == :special }.each do |item| %>
  <div class="column left sponsor">
    <p>
      <%=link_to image_tag(item.image_path, :alt=>item.name), item.url, :target => '_blank' %>
    </p>
  </div>
<% end %>
</div>