
<h2>Sponsors</h2>
<div class="right gray-box" style="width: 300px; margin: 20px">
  <h6>Thanks to our generous sponsors</h6>
  <p>
    We wouldn't be able to make this event free for attendees without
    the generous help from our sponsors.  Please tell them thanks, and make
    sure you tell them that we sent you.
  </p>
  <h6>Become a sponsor!</h6>
  <p>
    If you'd like to support this year's Houston Code Camp 2012, please
    <a href="/contact">contact us.</a>
  </p>
</div>
<div class="sponsor-listing">
  <div class="content-left">
    <h3 class="titles">Platinum Sponsor</h3>
    <p>
      <a href="http://www.jetbrains.com", target="_blank">
        <img src='http://www.jetbrains.com/img/logos/logo_jetbrains.gif', alt="JetBrains", width = "300">
        </img>
      </a>
    </p>
    <p>
      We are thrilled to have
      <strong>JetBrains</strong>
      as our platinum sponsor!  Please head over to
      <a href="http://jetbrains.com", target="_blank">http://jetbrains.com</a>
      and check out their awesome products.
    </p>
    <p>
    </p>
  </div>
  <div class="clear">
  </div>
  <h3 class="titles-full">Gold Sponsors</h3>
  <div class="column left sponsor">
    <p>
      <a href="http://www.microsoft.com", target="_blank">
        <%= image_tag "sponsor.jpg", alt => "Microsoft" %>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://www.headspring.com", target="_blank">
        <img src = "/assets/headspring.jpg", alt="Headspring"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://www.componentone.com", target="_blank">
        <img src = "/assets/componentone.jpg", alt = "ComponentOne">
        </img>
      </a>
    </p>
  </div>
  <p>
  </p>
  <div class="clear">
  </div>
  <h3 class="titles-full">Silver Sponsors</h3>
  <div class="column left sponsor">
    <p>
      <a href="http://www.telerik.com", target="_blank">
        <img src = "/assets/telerik.png", alt = "Telerik"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://www.tekpub.com", target="_blank">
        <img src = "/assets/tekpub.jpeg"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://www.pluralsight.com", target="_blank">
        <img src = "/assets/pluralsight.png"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://www.snapstream.com", target="_blank">
        <img src = "/assets/snapstream.png"/>
      </a>
    </p>
  </div>
  <p>
  </p>
  <div class="clear">
  </div>
  <h3 class="titles-full">Special Thanks</h3>
  <div class="column left sponsor">
    <p>
      <a href="http://github.com", target="_blank">
        <img src = "/assets/github.png", alt = "Github"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://pragprog.com", target="_blank">
        <img src = "/assets/pragprog.png", alt = "The Pragmatic Bookshelf"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href = "http://codeschool.com", :target =>"_blank">
        <img src = "/assets/code_school.png", alt = "Code School">
        </img>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://oreilly.com", target="_blank">
        <img src = "/assets/oreilly.png", alt = "O'Reilly"/>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://manning.com", target="_blank">
        <img src="/assets/manning.png", alt = "Manning Publications">
        </img>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://chaione.com", target="_blank">
        <img src="/assets/chaione.png", alt = "ChaiONE">
        </img>
      </a>
    </p>
  </div>
  <div class="column left sponsor">
    <p>
      <a href="http://logicnp.com", target="_blank">
        <img src="/assets/logicnp.jpeg", alt = "LogicNP Software">
        </img>
      </a>
    </p>
  </div>
</div>