
%h2 Sponsors

.right.gray-box{:style=>"width: 300px; margin: 20px"}
  %h6 Thanks to our generous sponsors
  %p
    We wouldn't be able to make this event free for attendees without
    the generous help from our sponsors.  Please tell them thanks, and make
    sure you tell them that we sent you.

  %h6 Become a sponsor!
  %p
    There are still a few silver sponsor slots available!  If you'd like to support this year's Houston Code Camp 2011, please
    %a{:href=>"/contact"} contact us.


.sponsor-listing
  .content-left
    %h3.titles Platinum Sponsor

    %p
      %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
        %img{:src=>'http://www.jetbrains.com/img/logos/logo_jetbrains.gif', :alt=>"JetBrains", :width => "300"}

    %p 
      We are thrilled to have 
      %strong JetBrains
      as our platinum sponsor!  Please head over to 
      %a{:href=>"http://jetbrains.com", :target=>"_blank"} http://jetbrains.com 
      and check out their awesome products.
    %p

  .clear

  %h3.titles-full Gold Sponsors
  .column.left.sponsor
    %p
      %a{:href=>"http://www.microsoft.com", :target=>"_blank"}
        %img{:src => "/assets/sponsor.jpg", :alt => "Microsoft"}/

  .column.left.sponsor
    %p
      %a{:href=>"http://www.headspring.com", :target=>"_blank"}
        %img{:src => "/assets/headspring.jpg", :alt=>"Headspring"}/

  .column.left.sponsor
    %p
      %a{:href=>"http://www.componentone.com", :target=>"_blank"}
        %img{:src => "/assets/componentone.jpg", :alt => "ComponentOne"}


  %p
  .clear
  %h3.titles-full Silver Sponsors
  .column.left.sponsor
    %p
      %a{:href=>"http://www.telerik.com", :target=>"_blank"}
        %img{:src => "/assets/telerik.png", :alt => "Telerik"}/

  .column.left.sponsor
    %p
      %a{:href=>"http://www.tekpub.com", :target=>"_blank"}
        %img{:src => "/assets/tekpub.jpeg"}/

  .column.left.sponsor
    %p
      %a{:href=>"http://www.pluralsight.com", :target=>"_blank"}
        %img{:src => "/assets/pluralsight.png"}/
  .column.left.sponsor
    %p
      %a{:href=>"http://www.snapstream.com", :target=>"_blank"}
        %img{:src => "/assets/snapstream.gif"}/

  %p
  .clear
  %h3.titles-full Special Thanks

  .column.left.sponsor
    %p
      %a{:href=>"http://github.com", :target=>"_blank"}
        %img{:src => "/assets/github.png", :alt => "Github" }/

  .column.left.sponsor
    %p
      %a{:href=>"http://pragprog.com", :target=>"_blank"}
        %img{:src => "/assets/pragprog.png", :alt => "The Pragmatic Bookshelf"}/

  .column.left.sponsor
    %p
      %a{:href => "http://codeschool.com", :target =>"_blank"}
        %img{:src => "/assets/code_school.png", :alt => "Code School"}


  .column.left.sponsor
    %p
      %a{:href=>"http://oreilly.com", :target=>"_blank"}
        %img{:src => "/assets/oreilly.png", :alt => "O'Reilly"}/

  .column.left.sponsor
    %p
      %a{:href=>"http://manning.com", :target=>"_blank"}
        %img{:src=>"/assets/manning.png", :alt => "Manning Publications"}
  .column.left.sponsor
    %p
      %a{:href=>"http://logicnp.com", :target=>"_blank"}
        %img{:src=>"/assets/logicnp.jpeg", :alt => "LogicNP Software"}
