%h2 Official Committee of Code Camp 2011 in Houston
%ul.comm-list
  %li
    %img{:src => "./images/committee/ben.jpg"}/
    .details
      %h3 Ben Scheirman - Lead Organizer
      %p
        I'm the Director of Development at
        %a{:href => "http://chaione.com/"} ChaiONE
        in Houston, TX.  I write software with my bare hands.
      %p
        Blog:
        %a{:href => "http://flux88.com/"} flux88.com
      %p
        Twitter:
        %a{:href => "http://twitter.com/subdigital"} @subdigital
  %li
    %img{:src => "images/committee/peterseale.jpg"}/
    .details
      %h3 Peter Seale - Vice Chancellor
      %p
        I like to break the build and apologize for TFS.
      %p
        Website:
        %a{:href => "http://www.pseale.com/blog"} www.pseale.com/blog
      %p
        Twitter:
        %a{:href => "http://twitter.com/pseale"} @pseale
        
  %li
    %img{:src=>"/images/jared.jpg"}/
    .details
      %h3 Jared Lobberecht - Website
      %p
        I can't wait until I can buy diet mountain dew with bitcoins.
      %p
        Website:
        %a{:href => "http://blog.lobberecht.com"} blog.lobberecht.com
      %p
        Twitter:
        %a{:href => "http://twitter.com/jared314"} @jared314
  %li
    %img{:src => "images/committee/brandi.jpg"}/
    .details
      %h3 Brandi - Website Designer
      %p
        While I can be credited for designing and doing front-end coding for the Code Camp site, I must
        admit that I wasted too much of my life reading comic books rather than learning about big shot development.
      %p
        This design was lovingly provided as a "Heck yeah! Free knowledge! I can get behind that!" for all of the
        Code Camp attendees. You all make the internet and technology world go round and for that, you should have
        something pretty to look at.
      %p
        Website:
        %a{:href => "http://www.brandius.net"} www.brandius.net
      %p
        Twitter:
        %a{:href => "http://twitter.com/brandius"} @brandius
