%h2 Contact Us
.content-left
  %h3 Speaker Information:
  %p 
    If you would like to contribute to the community and to Code Camp 2011, then get in contact with us. Make sure you specify on the contact form that you are interested in speaking and be sure to give us a hint as to what your talk will be about. Someone from our side will contact you shortly. Be sure to have further information (such as a photo, job title, work experience) ready to go so that we can add it to our 
    %a{:href=>"speakers"} speaker page
    and to the 
    %a{:href=>"schedule"} official schedule
    = "."
  %h3 Sponsor Information:
  %p 
    Fill out the form if you would be interested in sponsoring Code Camp. Fill out the proper fields and we will get in contact with you. Be prepared to have a logo/brand ready for us so that we can list you under our sponsors section on the homepage.
    %ul{:class=>"camp-brief"}
      %li<
        %strong Platinum Sponsors
        are sponsors who have donated $500 of services to Code Camp
      %li<
        %strong Gold Sponsors
        are sponsors who have donated $300 of services to Code Camp
      %li<
        %strong Silver Sponsors
        are sponsors who have donated $100 of services to Code Camp

.content-right
  %iframe{:allowTransparency => "true", :frameborder => "0", :height => "575", :scrolling => "no", :src => "http://houstoncodecamp.wufoo.com/embed/z7x3k7/", :style => "width:100%;border:none"}
    %a{:href => "http://houstoncodecamp.wufoo.com/forms/z7x3k7/", :rel => "nofollow", :title => "Contact Us!"} Fill out my Wufoo form!