.content-left
  %h2.titles It's Time to Go Camping
  %p.tx-bg
    This conference is being held to allow developers to come and share their experiences and to learn
    from each other. Code Camp is about challenging the status-quo, continually looking for ways to better
    our craft, and to collaborate to create a community of developers. This conference is FREE, though
    registration is limited,
    %a{:href => "registration.html"} so register today!
  %h3.titles Latest News
  %p
    Speaker registration is now open. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
    pulvinar, leo sed pulvinar fermentum, ipsum erat suscipit nulla, et auctor nibh odio sit amet tellus.
    Donec tempor faucibus adipiscing. Etiam sit amet quam elit, nec lacinia metus. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Suspendisse pulvinar, leo sed pulvinar fermentum, ipsum erat suscipit nulla,
    et auctor nibh odio sit amet tellus. Donec tempor faucibus adipiscing. Etiam sit amet quam elit, nec
    lacinia metus.
  %a.btn-schedule{:href => "schedule.html"} View the Official SCHEDULE
/ .content-left
.content-right
  %ul.speaker-photos
    %li
      %a{:href => "speakers.html#speaker1"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
    %li
      %a{:href => "speakers.html#speaker2"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
    %li
      %a{:href => "speakers.html#speaker3"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
  %ul.speaker-photos
    %li
      %a{:href => "speakers.html#speaker1"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
    %li
      %a{:href => "speakers.html#speaker2"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
    %li
      %a{:href => "speakers.html#speaker3"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
  %ul.speaker-photos
    %li
      %a{:href => "speakers.html#speaker1"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
    %li
      %a{:href => "speakers.html#speaker2"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
    %li
      %a{:href => "speakers.html#speaker3"}
        %img{:src => "./images/speaker.jpg"}
          %span Speaker Name
  %a.btn-speakers{:href => "speakers.html"} MORE SPEAKERS
  %a.link-speak.right{:href => "contact.html"} Want to speak? Let us know...
/ .content-right
.clear
%h4.titles-full Code Camp 2011 Sponsors
.column.left
  %h5 Platinum
  %ul
    %li
      %img{:src => "./images/sponsor.jpg"}/
    %li
      %img{:src => "./images/sponsor.jpg"}/
    %li
      %img{:src => "./images/sponsor.jpg"}/
/ .column
.column.left
  %h5 Gold
  %ul
    %li
      %img{:src => "./images/sponsor.jpg"}/
    %li
      %img{:src => "./images/sponsor.jpg"}/
    %li
      %img{:src => "./images/sponsor.jpg"}/
/ .column
.column.left
  %h5 Silver
  %ul
    %li
      %img{:src => "./images/sponsor.jpg"}/
    %li
      %img{:src => "./images/sponsor.jpg"}/
    %li
      %img{:src => "./images/sponsor.jpg"}/
/ .column
.column.right.gray-box
  %h6 Become a Sponsor
  %p
    %a{:href => "contact.html"} Events like CodeCamp 2011 rely on generous sponsors to function. Take part this year!
/ .gray-box
.clear