.content-left
  %h2.titles It's Time to Go Camping
  %p.tx-bg
    It's time!  Houston's first-ever Code Camp is happening on August 20th, 2011.  Mark your calendar!
    This conference is being held to allow developers to come and share their experiences and to learn
    from each other. The Code Camp is about challenging the status-quo, continually looking for ways to better
    our craft, and to collaborate to create a community of developers. This conference is FREE, though
    registration is limited,
    %a{:href => "registration"} so register today!
  %h3.titles Latest News
  %p
    Speaker registration is now open. Here's how it is going to work.  Submit a topic or two,
    give it a short abstract describing what you'll cover and the community will vote for what they want to see!
    Speakers will receive:
    %ul
      %li Adoration of the local developer community
      %li Free hugs from the organizers
      %li Feeling of helping their fellow developers
  /%a.btn-schedule{:href => "/schedule"} View the Official SCHEDULE
  %a.btn-schedule{:href => "http://houstoncodecamp.uservoice.com/"} CALL FOR SPEAKERS!
/ .content-left
.content-right
  %a.btn-speakers{:href => "http://houstoncodecamp.uservoice.com/"} Submit a session!
  %p 
    We're currently accepting session proposals!  If you're interested in speaking, please submit a topic or 
    two to the 
    %a{:href=>"http://houstoncodecamp.uservoice.com/"}speaker submission site
    where the community will vote on what they want to see most.
    
  %p
    Want to influence what sessions get selected?  Get to the site & cast your vote!
    
  %h2 Platinum Sponsor
  
  %p
    %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
      %img{:src=>'http://www.jetbrains.com/img/logos/logo_jetbrains.gif', :alt=>"JetBrains", :width => "300"}
  
  %p 
    We are thrilled to have 
    %strong JetBrains
    as our platinum sponsor!  Please head over to 
    %a{:href=>"http://jetbrains.com", :target=>"_blank"} http://jetbrains.com 
    and check out their awesome products.
  
    
.clear

.sponsors-panel{:style=>"overflow:hidden"}
  %h4.titles-full Houston Code Camp 2011 Sponsors
  .column.left
    %h5 Platinum
    %ul
      %li
        %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
          %img{:src => "http://www.jetbrains.com/img/logos/logo_jetbrains.gif", :alt=>"JetBrains", :width=>"200"}
  / .column
  .column.left
    %h5 Gold
    %ul
      %li
        %a{:href=>"http://www.microsoft.com", :target=>"_blank"}
          %img{:src => "./images/sponsor.jpg", :alt => "Microsoft"}/
      %li
        %a{:href=>"http://www.headspring.com", :target=>"_blank"}
          %img{:src => "http://www.headspring.com/images/headspringlogo.png", :alt=>"Headspring"}/
      %li
        (Available)
  / .column
  .column.left
    %h5 Silver
    %ul
      %li
        %a{:href=>"http://www.tekpub.com", :target=>"_blank"}
          %img{:src => "./images/tekpub.jpeg"}/
      %li
        %a{:href=>"http://www.pluralsight.com", :target=>"_blank"}
          %img{:src => "./images/pluralsight.png"}/
      %li
        (Available)
  / .column
  .column.right.gray-box
    %h6 Become a Sponsor
    %p
      %a{:href => "contact"} Events like CodeCamp 2011 rely on generous sponsors to function. If you'd like to be part of Houston Code Camp, please get in touch with us!
  / .gray-box
.clear
%h4.titles-full special thanks to
.column.left
  %ul
    %li
      %a{:href=>"http://oreilly.com", :target=>"_blank"} O'Reilly
.column.left
  %ul
    %li
      %a{:href=>"http://github.com", :target=>"_blank"} Github
.column.left
  %ul
    %li

