.wrapper.content-full
	%h2 Getting to Code Camp Houston
	.content-left
		%h3 Address:
		%p<
			One Briar Lake Plaza 
			%br
			2000 W. Sam Houston Pkwy. S. #350
			%br
			Houston, TX 77042
			%br
			%a{:href=>"http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=One+Briar+Lake+Plaza+2000+W.+Sam+Houston+Pkwy.+S.+%23350+Houston,+TX+77042+&sll=37.0625,-95.677068&sspn=36.642161,66.884766&ie=UTF8&hq=&hnear=W+Sam+Houston+Pkwy+South+%23+A+20,+Houston,+Harris,+Texas+77042&z=16"} (View on Google Maps)
		%br
		%h3 Parking:
		%p Parking for the event is free for all attendees. Parking will be in an on-site covered garage. We ask guests to NOT park in any spots that are marked as reserved.
	.content-right
		%iframe{:width=>"450", :height=>"440", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=One+Briar+Lake+Plaza+2000+W.+Sam+Houston+Pkwy.+S.+%23350+Houston,+TX+77042+&amp;sll=37.0625,-95.677068&amp;sspn=36.642161,66.884766&amp;ie=UTF8&amp;hq=&amp;hnear=W+Sam+Houston+Pkwy+South+%23+A+20,+Houston,+Harris,+Texas+77042&amp;z=14&amp;ll=29.734478,-95.558621&amp;output=embed"}
