.wrapper.content-full
	%h2 Getting to Code Camp Houston
	.content-left
		%h3 Address:
		%p<
			One Briar Lake Plaza 
			%br
			2000 W. Sam Houston Pkwy. S. #350
			%br
			Houston, TX 77042
			%br
			%a{:href=>"http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=103219322185583259073.00047da46b658d3eb845a&ll=29.746447,-95.559468&spn=0.00667,0.009645&z=17"} (View on Google Maps)
		%br
		%h3 Parking:
		%p Parking for the event is free for all attendees. Parking will be in an on-site covered garage. We ask guests to NOT park in any spots that are marked as reserved.
		%h3 Hotels:
		%p
			Please see the
			%a{:href => "http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=103219322185583259073.00047da46b658d3eb845a&ll=29.746447,-95.559468&spn=0.00667,0.009645&z=17", :target => "_blank"} map
			for nearby hotels.
	.content-right
		%iframe{:width=>"450", :height=>"440", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps/ms?ie=UTF8&hl=en&source=embed&msa=0&msid=103219322185583259073.00047da46b658d3eb845a&ll=29.746447,-95.559468&spn=0.00667,0.009645&z=17&amp;output=embed"}
