%h2 Registration
.content-left
  %h3 In Brief:
  %p 
    Code Camp Houston is a free day of sessions relating to software development organized by the
    %a{:href=>"/committee"} ALT.NET Houston group.
    %strong 
      The event is free to attend, but 
      = "<a href='/registration'>registration</a> is required."
    
  %p
    A Code Camp follows these rules:
    
    %ul.camp-brief
      %li
        They are a organized by developers and for developers to come and learn from their peers.  Topics
        are always based on community interest and never determined by anyone other than the community.
      %li
        Code Camps are always FREE for attendees
      %li 
        The success of the Code Camp is determined by the community.  All content that is delivered is original
        and voted for by you!  Make sure your vote counts, and vote for the sessions you'd like to see at our 
        %a{:href => "http://houstoncodecamp.uservoice.com/"} speaker submission site.
      %li
        No Fluff - Code Camps are about Code, not slides.  You won't find any marketing heavy powerpoint decks here.
        
      %li  
        %strong
          All are welcome to attend and speak
        and do so without expectation of payment.  Learn more about speaking on our 
        %a{:href => "/speaking"} speaking
        page.
        
      %li
        The beauty of the Code Camp is that they always occur on weekends.
.content-right
  %h3 Registration coming soon!