%h2 Spectacular Speakers
%p
  Did you know that just about anyone can speak? If you have a topic and an original project you want to break into in front of a live audience,
  %a{:href => "http://houstoncodecamp.uservoice.com/"} submit a session!
%a.btn-schedule{:href => "http://houstoncodecamp.uservoice.com/"} CALL FOR SPEAKERS!  
%ul.speaker-list
  %li{:style => "display:none"}
    %a{:name => "speaker1"}
    %img{:src => "./images/speaker.jpg"}/
    = succeed "<!" do
      .details
        %h3 Speaker Name
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere justo eu enim semper malesuada.
          Mauris tellus risus, convallis et lobortis ac, tempus eget neque. Nulla gravida feugiat tempus
        %p
          Website:
          %a{:href => "#"} www.website.com
        %p
          Twitter:
          %a{:href => "#"} www.twitter.com
    \-- .details -->
