
%h2 Sponsors

.right.gray-box{:style=>"width: 300px; margin: 20px"}
  %h6 Become a sponsor!
  %p
    There are still sponsor slots available!  If you'd like to support this year's Houston Code Camp 2011, please
    %a{:href=>"/contact"} contact us.


.sponsor-listing
  .content-left
    %h3.titles Platinum Sponsor

    %p
      %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
        %img{:src=>'http://www.jetbrains.com/img/logos/logo_jetbrains.gif', :alt=>"JetBrains", :width => "300"}

    %p 
      We are thrilled to have 
      %strong JetBrains
      as our platinum sponsor!  Please head over to 
      %a{:href=>"http://jetbrains.com", :target=>"_blank"} http://jetbrains.com 
      and check out their awesome products.
  	%p
  	
  .clear
    
  %h3.titles Gold Sponsors
  .column.left.sponsor
    %p
      %a{:href=>"http://www.microsoft.com", :target=>"_blank"}
        %img{:src => "/images/sponsor.jpg", :alt => "Microsoft"}/
	
  .column.left.sponsor
    %p
      %a{:href=>"http://www.headspring.com", :target=>"_blank"}
        %img{:src => "/images/headspring.jpg", :alt=>"Headspring"}/
        
  .column.left.sponsor
    %p
      %a{:href=>"http://www.componentone.com", :target=>"_blank"}
        %img{:src => "/images/componentone.jpg", :alt => "ComponentOne"}
	
	
	%p
  .clear
  %h3.titles Silver Sponsors
  .column.left.sponsor
    %p
      %a{:href=>"http://www.tekpub.com", :target=>"_blank"}
        %img{:src => "/images/tekpub.jpeg"}/
      
  .column.left.sponsor
    %p
      %a{:href=>"http://www.pluralsight.com", :target=>"_blank"}
        %img{:src => "/images/pluralsight.png"}/



	%p
  .clear
  %h3.titles Special Thanks

  .column.left.sponsor
    %p
      %a{:href=>"http://github.com", :target=>"_blank"}
        %img{:src => "/images/github.png", :alt => "Github" }/

  .column.left.sponsor
    %p
      %a{:href=>"http://pragprog.com", :target=>"_blank"}
        %img{:src => "/images/pragprog.png", :alt => "The Pragmatic Bookshelf"}/
        
  .column.left.sponsor
    %p
      %a{:href=>"http://oreilly.com", :target=>"_blank"}
        %img{:src => "/images/oreilly.png", :alt => "O'Reilly"}/
  