%h2 Sponsors

.content-left
  %h4 Platinum Sponsor
  
  %p
    %a{:href=>"http://www.jetbrains.com", :target=>"_blank"}
      %img{:src=>'http://www.jetbrains.com/img/logos/logo_jetbrains.gif', :alt=>"JetBrains", :width => "300"}

  %p 
    We are thrilled to have 
    %strong JetBrains
    as our platinum sponsor!  Please head over to 
    %a{:href=>"http://jetbrains.com", :target=>"_blank"} http://jetbrains.com 
    and check out their awesome products.
  
  %hr

  %h5 Gold Sponsors

  %p
    %a{:href=>"http://www.microsoft.com", :target=>"_blank"}
      %img{:src => "./images/sponsor.jpg", :alt => "Microsoft"}/

  %p
    %a{:href=>"http://www.headspring.com", :target=>"_blank"}
      %img{:src => "http://www.headspring.com/images/headspringlogo.png", :alt=>"Headspring"}/
  %p
    (Available)

  %hr

  %h5 Silver Sponsors

  %p
    %a{:href=>"http://www.tekpub.com", :target=>"_blank"}
      %img{:src => "./images/tekpub.jpeg"}/
  %p
    %a{:href=>"http://www.pluralsight.com", :target=>"_blank"}
      %img{:src => "./images/pluralsight.png"}/
  %p
    (Available)

.content-right
  %h5 Become a sponsor!
  %em
    There are still sponsor slots available!  If you'd like to support this year's Houston Code Camp 2011, please
    %a{:href=>"/contact"} contact us.