%h2 Contact Us

.content-left
  %h3 Have a question?
  %p
    If you have any questions, feel free to fill out the form on the right.  We'll
    be sure to answer it for you as soon as possible.

  %h3 Interested in Sponsoring?
  %p 
    Interested in sponsoring?  Be prepared to have a logo/brand ready for us so that we can list you under our sponsors section on the homepage.
    

.content-right
  %iframe{:allowTransparency => "true", :frameborder => "0", :height => "575", :scrolling => "no", :src => "http://houstoncodecamp.wufoo.com/embed/z7x3k7/", :style => "width:100%;border:none"}
    %a{:href => "http://houstoncodecamp.wufoo.com/forms/z7x3k7/", :rel => "nofollow", :title => "Contact Us!"} Fill out my Wufoo form!