/* 
  HOME CONTROLLER STYLES
*/
table.schedule {
  width: 800px;
  tr.unusual td {
    text-align: center;
    vertical-align: middle;
    height: 33px;
    background: #ebc015;
    font: 22px/33px 'ChunkFiveRegular'; color: #FFF;
    text-shadow: #caa416 -1px 1px; text-indent: 18px; margin: 10px 10px 10px 0; 
  }
  margin: 20px;
  background: url('../assets/hr-bg.jpg') top center no-repeat; 
  background-size: 100%;

  th {
    padding: 10px;
  }
  td {
    padding: 2px;
    height: 100px;
  }
}

.drophover {
  background: red;
}

.dropactive {
  border: 1px #ebc015 dashed;
}