/* 
  HOME CONTROLLER STYLES
*/
table.schedule {
  th {
    padding: 10px;
  }
  td {
    padding: 2px;
    height: 100px;
  }
  border: 1px black solid;
}

.drophover {
  background: red;
}

.dropactive {
  border: 1px #ebc015 dashed;
}