/* 
  HOME CONTROLLER STYLES
*/
table.schedule {
  tr.unusual td {
    text-align: center;
    vertical-align: middle;
    height: 33px;
    background: #ebc015;
    font: 22px/33px 'ChunkFiveRegular'; color: #FFF;
    text-shadow: #caa416 -1px 1px; text-indent: 18px; 
    margin: 10px 10px 10px 0; 
  }
  margin: 20px;
  background: url('../assets/hr-bg.jpg') top center no-repeat; 
  background-size: 100%;

  th {
    padding: 10px;
  }
  td {    
    .sessionblock strong a {
      color: #918A89;
    } 
    
    padding: 2px;
  }

  tr.sessions-row {
    border-bottom: 1px #ebc015 solid;
    td {
      padding: 4px;
      vertical-align: middle;
    }
  }
}

.draggablesessionblock {
  cursor: pointer;
  float: left; 
  background-color: #eee; 
  margin: 3px; 
  padding: 5px; 
  border:solid 1px #ddd;
  a {
    color: #918A89;
  }
}

.drophover {
  background-color: #f00;
}

.dropactive {
  border: 1px #ebc015 dashed;
}

.slot {
  padding:10px;
}