/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.session {
  clear: both;
  margin: 25px;
}

.sessionblock {
  min-width: 80px;
  max-width: 150px;
}

.draggablesessionblock {
  min-width: 80px;
  max-width: 150px;
  float: right;
}

