/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.details {
  .photo {
    float: left;
    margin: 0 20px 40px 0;
  }

  .bio {
    margin-left: 10px;
  }
}

.twitter {
  font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans' !important;
}

.sessions-for-speaker-list li.session-for-speaker {
  clear:none;
  margin: 0;
}
