.details
  %h3= link_to speaker.name, speaker
  .photo= gravatar speaker 
  .bio= Redcarpet.new(speaker.bio).to_html.html_safe
  - if logged_in?
    %p.button-row{:style => 'clear:left'}
      = link_to "Edit", edit_speaker_path(speaker), :class => 'clean-gray-button'
