.details
  %h3
    = speaker.name
    - if speaker.has_twitter_handle?
      |
      / @ sign isn't available in our nutty custom font! -pds
      %span{:style => 'font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;'}
        =twitter speaker
  .photo{:float => "left"}
    = gravatar speaker 
    %br
  .bio
    / = Redcarpet.new(speaker.bio).to_html.html_safe
    %ul.sessions-for-speaker-list
      - speaker.sessions.each do |session|
        %li.session-for-speaker
          = link_to session.name, session
  - if logged_in?
    %p.button-row{:style => 'clear:both'}
      = link_to "Edit", edit_speaker_path(speaker), :class => 'clean-gray-button'
